// Using operators

@use "sass:math";

.container {
    display: flex;
}

article[role="main"] {
    width: math.div(600px, 960px) * 100%;
    background-color: yellow;
}

article[role="complementary"] {
    width: math.div(300px, 960px) * 100%;
    margin-left: auto;
    background-color: blue;
}